In [1]:
import pandas as pd
df= pd.read_csv(r"C:\Users\lenovo\Downloads\customer_shopping_behavior.csv")

In [2]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   str
 3   Item Purchased          3900 non-null   str
 4   Category                3900 non-null   str
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   str
 7   Size                    3900 non-null   str
 8   Color                   3900 non-null   str
 9   Season                  3900 non-null   str
 10  Review Rating           3863 non-null   float64
 11  Subscription Status     3900 non-null   str
 12  Shipping Type           3900 non-null   str
 13  Discount Applied        3900 non-null   str
 14  Promo Code Used         3900 non-null   str
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   str
 17  Frequency of Purchases  3900 non-null   str
dtypes: float64(1), int64(4), str(13)
memory usage: 548.6 KB

In [3]:
df.describe(include='all')

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
count,3900.000000,3900.000000,3900,3900,3900,3900.000000,3900,3900,3900,3900,3863.000000,3900,3900,3900,3900,3900.000000,3900,3900
unique,NaN,NaN,2,25,4,NaN,50,4,25,4,NaN,2,6,2,2,NaN,6,7
top,NaN,NaN,Male,Blouse,Clothing,NaN,Montana,M,Olive,Spring,NaN,No,Free Shipping,No,No,NaN,PayPal,Every 3 Months
freq,NaN,NaN,2652,171,1737,NaN,96,1755,177,999,NaN,2847,675,2223,2223,NaN,677,584
mean,1950.500000,44.068462,NaN,NaN,NaN,59.764359,NaN,NaN,NaN,NaN,3.750065,NaN,NaN,NaN,NaN,25.351538,NaN,NaN
std,1125.977353,15.207589,NaN,NaN,NaN,23.685392,NaN,NaN,NaN,NaN,0.716983,NaN,NaN,NaN,NaN,14.447125,NaN,NaN
min,1.000000,18.000000,NaN,NaN,NaN,20.000000,NaN,NaN,NaN,NaN,2.500000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN
25%,975.750000,31.000000,NaN,NaN,NaN,39.000000,NaN,NaN,NaN,NaN,3.100000,NaN,NaN,NaN,NaN,13.000000,NaN,NaN
50%,1950.500000,44.000000,NaN,NaN,NaN,60.000000,NaN,NaN,NaN,NaN,3.800000,NaN,NaN,NaN,NaN,25.000000,NaN,NaN
75%,2925.250000,57.000000,NaN,NaN,NaN,81.000000,NaN,NaN,NaN,NaN,4.400000,NaN,NaN,NaN,NaN,38.000000,NaN,NaN
max,3900.000000,70.000000,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,NaN,50.000000,NaN,NaN

In [4]:
df.isnull().sum()

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

In [5]:
df['Review Rating']= df.groupby('Category')['Review Rating'].transform(lambda x: x.fillna(x.median()))

In [6]:
df.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [7]:
df.columns= df.columns.str.lower()

In [8]:
df.columns

Index(['customer id', 'age', 'gender', 'item purchased', 'category',
       'purchase amount (usd)', 'location', 'size', 'color', 'season',
       'review rating', 'subscription status', 'shipping type',
       'discount applied', 'promo code used', 'previous purchases',
       'payment method', 'frequency of purchases'],
      dtype='str')

In [9]:
df.columns= df.columns.str.replace(' ', '_')
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount_(usd)', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='str')

In [10]:
df= df.rename(columns={'purchase_amount_(usd)':'purchase_amount'})

In [11]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='str')

In [12]:
labels= ['Young Adult', 'Adult', 'Meddle-aged', 'Senior']
df['age_group']= pd.qcut(df['age'], q=4, labels= labels)

In [13]:
df[['age','age_group']].head(10)

   age    age_group
0   55  Meddle-aged
1   19  Young Adult
2   50  Meddle-aged
3   21  Young Adult
4   45  Meddle-aged
5   46  Meddle-aged
6   63       Senior
7   27  Young Adult
8   26  Young Adult
9   57  Meddle-aged

In [14]:
frequency_mapping = {
    'Fortnightly': 14,
    'Weekly': 7,
    'Monthly': 30,
    'Quarterly': 90,
    'Bi-Weekly': 14,
    'Annually': 365,
    'Every 3 Months': 90
}
df['purchase_frequency_days']= df['frequency_of_purchases'].map(frequency_mapping)

In [15]:
df[['frequency_of_purchases', 'purchase_frequency_days']].head(10)

  frequency_of_purchases  purchase_frequency_days
0            Fortnightly                       14
1            Fortnightly                       14
2                 Weekly                        7
3                 Weekly                        7
4               Annually                      365
5                 Weekly                        7
6              Quarterly                       90
7                 Weekly                        7
8               Annually                      365
9              Quarterly                       90

In [16]:
df[['discount_applied','promo_code_used']].head(10)

  discount_applied promo_code_used
0              Yes             Yes
1              Yes             Yes
2              Yes             Yes
3              Yes             Yes
4              Yes             Yes
5              Yes             Yes
6              Yes             Yes
7              Yes             Yes
8              Yes             Yes
9              Yes             Yes

In [17]:
(df['discount_applied'] == df['promo_code_used']).all()

np.True_

In [18]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases', 'age_group',
       'purchase_frequency_days'],
      dtype='str')

In [19]:
df= df.drop('promo_code_used', axis=1)

In [20]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'previous_purchases', 'payment_method',
       'frequency_of_purchases', 'age_group', 'purchase_frequency_days'],
      dtype='str')

In [23]:
!pip install mysql-connector-python sqlalchemy

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.6.0-cp314-cp314-win_amd64.whl.metadata (11 kB)
Requirement already satisfied: sqlalchemy in c:\users\lenovo\appdata\local\programs\python\python314\lib\site-packages (2.0.46)
Requirement already satisfied: greenlet>=1 in c:\users\lenovo\appdata\local\programs\python\python314\lib\site-packages (from sqlalchemy) (3.3.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\lenovo\appdata\local\programs\python\python314\lib\site-packages (from sqlalchemy) (4.15.0)
Downloading mysql_connector_python-9.6.0-cp314-cp314-win_amd64.whl (17.0 MB)
   ---------------------------------------- 0.0/17.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/17.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/17.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/17.0 MB ? eta -:--:--
    --------------------------------------- 0.3/17.0 MB ? eta -:--:--
    --------------------------------------- 0.3/17.0 MB ? eta -:--:--
   - -------------------------------------- 0.5/17.0 MB 494.2 kB/s eta 0:00:34
   - -------------------------------------- 0.5/17.0 MB 494.2 kB/s eta 0:00:34
   - -------------------------------------- 0.8/17.0 MB 536.1 kB/s eta 0:00:31
   - -------------------------------------- 0.8/17.0 MB 536.1 kB/s eta 0:00:31
   -- ------------------------------------- 1.0/17.0 MB 576.8 kB/s eta 0:00:28
   -- ------------------------------------- 1.0/17.0 MB 576.8 kB/s eta 0:00:28
   --- ------------------------------------ 1.3/17.0 MB 576.2 kB/s eta 0:00:28
   --- ------------------------------------ 1.3/17.0 MB 576.2 kB/s eta 0:00:28
   --- ------------------------------------ 1.6/17.0 MB 620.6 kB/s eta 0:00:25
   ---- ----------------------------------- 1.8/17.0 MB 627.1 kB/s eta 0:00:25
   ---- ----------------------------------- 1.8/17.0 MB 627.1 kB/s eta 0:00:25
   ---- ----------------------------------- 2.1/17.0 MB 642.1 kB/s eta 0:00:24
   ---- ----------------------------------- 2.1/17.0 MB 642.1 kB/s eta 0:00:24
   ----- ---------------------------------- 2.4/17.0 MB 657.2 kB/s eta 0:00:23
   ------ --------------------------------- 2.6/17.0 MB 678.2 kB/s eta 0:00:22
   ------ --------------------------------- 2.6/17.0 MB 678.2 kB/s eta 0:00:22
   ------ --------------------------------- 2.9/17.0 MB 666.0 kB/s eta 0:00:22
   ------ --------------------------------- 2.9/17.0 MB 666.0 kB/s eta 0:00:22
   ------- -------------------------------- 3.1/17.0 MB 669.4 kB/s eta 0:00:21
   ------- -------------------------------- 3.1/17.0 MB 669.4 kB/s eta 0:00:21
   -------- ------------------------------- 3.4/17.0 MB 673.6 kB/s eta 0:00:21
   -------- ------------------------------- 3.7/17.0 MB 682.7 kB/s eta 0:00:20
   -------- ------------------------------- 3.7/17.0 MB 682.7 kB/s eta 0:00:20
   --------- ------------------------------ 3.9/17.0 MB 690.8 kB/s eta 0:00:19
   --------- ------------------------------ 4.2/17.0 MB 695.2 kB/s eta 0:00:19
   ---------- ----------------------------- 4.5/17.0 MB 707.2 kB/s eta 0:00:18
   ---------- ----------------------------- 4.5/17.0 MB 707.2 kB/s eta 0:00:18
   ----------- ---------------------------- 4.7/17.0 MB 721.4 kB/s eta 0:00:18
   ----------- ---------------------------- 5.0/17.0 MB 731.4 kB/s eta 0:00:17
   ----------- ---------------------------- 5.0/17.0 MB 731.4 kB/s eta 0:00:17
   ------------ --------------------------- 5.2/17.0 MB 728.6 kB/s eta 0:00:17
   ------------ --------------------------- 5.5/17.0 MB 741.6 kB/s eta 0:00:16
   ------------- -------------------------- 5.8/17.0 MB 753.4 kB/s eta 0:00:15
   -------------- ------------------------- 6.0/17.0 MB 765.8 kB/s eta 0:00:15
   -------------- ------------------------- 6.3/17.0 MB 772.7 kB/s eta 0:00:14
   -------------- ------------------------- 6.3/17.0 MB 772.7 kB/s eta 0:00:14
   --------------- ------------------------ 6.6/17.0 MB 769.7 kB/s eta 0:00:14
   ---------------- ----------------------- 6.8/17.0 MB 775.6 kB/s eta 0:00:14
   ---------------- ----------------------- 6.8/17.0 MB 775.6 kB/s eta 0:00:14
   ---------------- ----------------------- 7.1/17.0 MB 780.5 kB/s eta 0:00:13
   ----------------- ---------------------- 7.3/17.0 MB 787.2 kB/s eta 0:00:13
   ----------------- ---------------------- 7.6/17.0 MB 791.7 kB/s eta 0:00:12
   ------------------ --------------------- 7.9/17.0 MB 798.0 kB/s eta 0:00:12
   ------------------ --------------------- 7.9/17.0 MB 798.0 kB/s eta 0:00:12
   ------------------- -------------------- 8.1/17.0 MB 804.6 kB/s eta 0:00:12
   ------------------- -------------------- 8.4/17.0 MB 801.1 kB/s eta 0:00:11
   ------------------- -------------------- 8.4/17.0 MB 801.1 kB/s eta 0:00:11
   -------------------- ------------------- 8.7/17.0 MB 803.9 kB/s eta 0:00:11
   -------------------- ------------------- 8.9/17.0 MB 803.4 kB/s eta 0:00:11
   --------------------- ------------------ 9.2/17.0 MB 808.4 kB/s eta 0:00:10
   --------------------- ------------------ 9.2/17.0 MB 808.4 kB/s eta 0:00:10
   ---------------------- ----------------- 9.4/17.0 MB 813.5 kB/s eta 0:00:10
   ---------------------- ----------------- 9.7/17.0 MB 818.9 kB/s eta 0:00:09
   ----------------------- ---------------- 10.0/17.0 MB 817.1 kB/s eta 0:00:09
   ----------------------- ---------------- 10.0/17.0 MB 817.1 kB/s eta 0:00:09
   ------------------------ --------------- 10.5/17.0 MB 828.4 kB/s eta 0:00:08
   ------------------------ --------------- 10.5/17.0 MB 828.4 kB/s eta 0:00:08
   ------------------------- -------------- 11.0/17.0 MB 842.9 kB/s eta 0:00:08
   -------------------------- ------------- 11.3/17.0 MB 850.4 kB/s eta 0:00:07
   --------------------------- ------------ 11.5/17.0 MB 854.2 kB/s eta 0:00:07
   --------------------------- ------------ 11.8/17.0 MB 861.1 kB/s eta 0:00:07
   ---------------------------- ----------- 12.1/17.0 MB 869.2 kB/s eta 0:00:06
   ---------------------------- ----------- 12.3/17.0 MB 876.6 kB/s eta 0:00:06
   ----------------------------- ---------- 12.6/17.0 MB 884.2 kB/s eta 0:00:05
   ------------------------------ --------- 13.1/17.0 MB 899.9 kB/s eta 0:00:05
   ------------------------------ --------- 13.1/17.0 MB 899.9 kB/s eta 0:00:05
   ------------------------------- -------- 13.4/17.0 MB 898.6 kB/s eta 0:00:05
   -------------------------------- ------- 13.9/17.0 MB 915.3 kB/s eta 0:00:04
   --------------------------------- ------ 14.2/17.0 MB 923.2 kB/s eta 0:00:04
   ---------------------------------- ----- 14.7/17.0 MB 939.2 kB/s eta 0:00:03
   ----------------------------------- ---- 14.9/17.0 MB 946.6 kB/s eta 0:00:03
   ----------------------------------- ---- 15.2/17.0 MB 950.0 kB/s eta 0:00:02
   ------------------------------------ --- 15.5/17.0 MB 953.1 kB/s eta 0:00:02
   ------------------------------------- -- 15.7/17.0 MB 958.6 kB/s eta 0:00:02
   ------------------------------------- -- 16.0/17.0 MB 964.5 kB/s eta 0:00:02
   -------------------------------------- - 16.3/17.0 MB 970.0 kB/s eta 0:00:01
   ---------------------------------------  16.8/17.0 MB 982.0 kB/s eta 0:00:01
   ---------------------------------------  16.8/17.0 MB 982.0 kB/s eta 0:00:01
   ---------------------------------------- 17.0/17.0 MB 973.8 kB/s  0:00:17
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.6.0

[notice] A new release of pip is available: 25.3 -> 26.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [24]:
from sqlalchemy import create_engine
from urllib.parse import quote_plus

password = quote_plus("Mysql@123")

engine = create_engine(
    f"mysql+mysqlconnector://root:{password}@localhost/customer_behavior"
)

In [25]:
df.to_sql(
    name="customer_shopping",
    con=engine,
    if_exists="replace",
    index=False
)

3900